<footer class="footer section bg-gray">
    <div class="container">
        <div class="footer-logo">
            <img src="/images/logoTextO.png" alt="logo">
        </div>
        <div class="home-arrow">
            <a href="#">
                <i class="fa-solid fa-angles-up"></i>
            </a>
        </div>
        <div class="footer-diritti">
            <p class="footer-diritti-testo text-s">
                © 2025 Parrocchia di San Possidonio - Tutti i diritti riservati
            </p>
        </div>
        <div class="footer-social">
            <div>
                <a href="https://www.instagram.com/parrocchia_di_sanpossidonio/" target="_blank">
                    <i class="fab fa-instagram fa-1x"></i>
                </a>
            </div>
            <div>
                <a href="https://www.facebook.com/p/Parrocchia-di-San-Possidonio-100067585585683" target="_blank">
                    <i class="fab fa-facebook fa-1x"></i>
                </a>
            </div>
        </div>
</footer>