<header class="header">
    <div class="container">
        <h1 class="header-testo text-center text-xxl text-bold">Parrocchia San Possidonio</h1>
    </div>
</header>

<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/index.html">
                <img src="/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="hamburger" id="hamburger" onclick="toggleMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="menu text-m0" id="menu">
            <span class="close-menu" id="close-menu" onclick="toggleMenu()">
                <i class="fa-solid fa-xmark"></i>
            </span>
            <ul>
                <li><a href="/" onclick="closeMenu()">Home</a></li>
                <li><a href="/#avvisi" onclick="closeMenu()">Avvisi & Eventi</a></li>
                <li><a href="/#orari" onclick="closeMenu()">Orario celebrazioni</a></li>
                <li><a href="/#contatti" onclick="closeMenu()">Contatti</a></li>
                <li><a href="/strutture.html" onclick="closeMenu()">Strutture</a></li>
                <li><a href="/caritas.html" onclick="closeMenu()">Caritas</a></li>
            </ul>
        </div>
    </div>
</nav>